@use "../global/variables.scss";

.additional__label:not(:last-of-type) {
  padding-bottom: 13px;
  @media (width >= variables.$screen-tablet) {
    padding-bottom: 0;
  }
}

.additional__label:last-of-type {
  margin-bottom: 34px;
  @media (width >= variables.$screen-tablet) {
    margin-bottom: 0;
  }
}

.additional__label:first-of-type {
  padding-top: 34px;
  @media (width >= variables.$screen-tablet) {
    padding-top: 0;
  }
}

.additional__container {
  @media (width >= variables.$screen-tablet) {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 123px;
    row-gap: 32px;
    padding-top: 57px;
  }

  @media (width >= variables.$screen-desktop) {
    display: flex;

  }
}

.additional__container-bottom {
  @media (width >= variables.$screen-tablet) {
    display: flex;
    align-items: center;
    gap: 64px;
  }
}
