@use "../global/variables.scss";

.advantages {
    min-width: 20rem;
    padding-top: 1.25rem;
}

.advantages__wrapper {
    margin: 0 auto;
    padding: 0 1.25rem;
}


.advantages__title {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #000000;
    padding-bottom: 2.5rem;
}

.advantages__list {
    counter-reset: section 0;
}

.advantages__item {
    position: relative;
    &::before {
        counter-increment: section 1;
        content: counter(section);
        color: F2F2F2;
        background: #FFFFFF;
        display: inline-block;
        text-align: right;
        line-height: 40px;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: -1;
        right: 0;
    }

    &:not(last-child) {
        padding-bottom: 1.25rem;
    }
}

.advantages__desctription {
    font-family: variables.$font-lato;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: left;
    display: flex;
    gap: 20px;

    &--useful::before {
        content: "";
        display: block;
        background-image: url("../img/advantages_useful.svg");
        background-repeat: no-repeat;
        background-position: center;
        min-width: 60px;
        min-height: 60px;
        background-color: #68B738;
    }

    &--powder::before {
        content: "";
        display: block;
        background-image: url("../img/advantages_powder.svg");
        background-repeat: no-repeat;
        background-position: center;
        min-width: 60px;
        min-height: 60px;
        background-color: #68B738;
    }

    &--meals::before {
        content: "";
        display: block;
        background-image: url("../img/advantages_meals.svg");
        background-repeat: no-repeat;
        background-position: center;
        min-width: 60px;
        min-height: 60px;
        background-color: #68B738;
    }

    &--result::before {
        content: "";
        display: block;
        background-image: url("../img/advantages_result.svg");
        background-repeat: no-repeat;
        background-position: center;
        min-width: 60px;
        min-height: 60px;
        background-color: #68B738;
    }
}