@use "../global/variables.scss";

.advantages {
  min-width: 320px;
  // width: 100vw;
}

.advantages__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 49px;
  padding-top: 25px;
  width: 100vw;
  min-width: 320px;
  max-width: 1440px;

  @media (min-width: variables.$screen-tablet) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 49px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 20px;
    padding-top: 4px;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 41px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 33px;
  }
}

.advantages__list {
  counter-reset: section 0;

  @media (min-width: variables.$screen-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    grid-template-rows: repeat(2, 280px);
    grid-column-gap: 153px;
    grid-row-gap: 37px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 94px;
  }
}

.advantages__item {
  position: relative;

  @media (min-width: variables.$screen-tablet) {
    &::before {
      counter-increment: section 1;
      content: counter(section);
      color: #f2f2f2;
      background: #ffffff;
      display: inline-block;
      text-align: right;
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      z-index: -1;
      right: -17px;
    }

    &:first-child { // Выравнивание первой цифры для ПП
      &::before {
        right: 5px;
      }
    }
  }

  &:not(:last-child) {
    padding-bottom: 20px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    width: 230px;
  }
}

.advantages__desctription {
  font-family: variables.$font-lato;
  font-size: 14px;
  line-height: 19.7px;
  text-align: left;
  display: flex;
  gap: 20px;

  @media (min-width: variables.$screen-tablet) {
    display: block;
    font-size: 16px;
    line-height: 24px;
    min-width: 245px;
  }

  &--useful::before {
    content: "";
    display: block;
    background-image: url("../img/sprite.svg#advantages_useful");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
    min-width: 60px;
    min-height: 60px;
    background-color: #68b738;

    @media (min-width: variables.$screen-tablet) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
      margin-top: 40px;
    }
  }

  &--powder::before {
    content: "";
    display: block;
    background-image: url("../img/sprite.svg#advantages_powder");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px 29px;
    min-width: 60px;
    min-height: 60px;
    background-color: #68b738;

    @media (min-width: variables.$screen-tablet) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
      margin-top: 40px;
    }
  }

  &--meals::before {
    content: "";
    display: block;
    background-image: url("../img/sprite.svg#advantages_meals");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 30px;
    min-width: 60px;
    min-height: 60px;
    background-color: #68b738;

    @media (min-width: variables.$screen-tablet) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
      margin-top: 40px;
    }
  }

  &--result::before {
    content: "";
    display: block;
    background-image: url("../img/sprite.svg#advantages_result");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 31px;
    min-width: 60px;
    min-height: 60px;
    background-color: #68b738;

    @media (min-width: variables.$screen-tablet) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
      margin-top: 40px;
    }
  }
}
