@use "../global/variables.scss";

.advantages {
  min-width: 20rem;
}

.advantages__wrapper {
  margin: 0 auto;
  width: 20rem;
  padding: 0 1.25rem;
}


.advantages__title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #000000;
  margin-bottom: 2.5rem;
}

.advantages__item {
  &:not(last-child) {
    margin-bottom: 1.25rem;
  }
}

.advantages__desctription {
  font-family: variables.$font-lato;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: left;

  &--useful {

  }
}
