@use "../global/variables.scss";

.button {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  padding: 0;

  &--primary {
    background-color: #68b738;

    &:hover {
      background-color: #5eaa2f;
    }

    &:focus {
      outline: 2px solid #fdc305;
    }

    &:active {
      outline: none;
    }

    &:active .button__description {
      opacity: 0.3;
    }
  }
}
