@use "../global/variables.scss";

.button {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  padding: 0;
  text-align: center;

  &--primary {
    background-color: #68b738;

    &:hover {
      background-color: #5eaa2f;
    }

    &:focus {
      outline: 2px solid #fdc305;
    }

    &:active {
      outline: none;
    }

    &:active .button__description {
      opacity: 0.3;
    }
  }

  &--secondary {
    background-color: #f2f2f2;
    color: #444444;

    &:hover {
      background-color: #ebebeb;
    }

    &:focus {
      outline: 2px solid #444444;
    }

    &:active {
      outline: none;
    }

    &:active .button__description {
      opacity: 0.3;
    }
  }
}

.button__description {
  display: block;
  padding: 12px;
  white-space: normal;
  font-size: 16px;
  line-height: 20px;

  &--index {
    font-size: 14px;
  }

  &--catalog {
    padding: 10px;
  }

  @media (min-width: variables.$screen-tablet) {
    &--form {
      font-size: 20px;
    }
    &--index {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
