@use "../global/variables.scss";

.catalog-table__rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;

  @media (min-width: variables.$screen-tablet) {
    width: 32.55vw;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 11.73vw;
    max-width: 169px;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0;
  }
}
