@use "../global/variables.scss";

.catalog-additional {
  min-width: 320px;
  width: 100vw;
}

.catalog-additional__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100vw;
  max-width: 1440px;
  min-width: 320px;

  @media (width >= variables.$screen-tablet) {
    padding: 0 30px;
  }

  @media (width >= variables.$screen-desktop) {
    padding: 0 110px;
    padding-bottom: 87px;
  }
}

.catalog-additional__container {
  @media (width >= variables.$screen-desktop) {
    display: flex;
    gap: 80px;
    align-items: flex-start;
  }
}

.catalog-additional__list {
  @media (width >= variables.$screen-tablet) {
    padding-bottom: 70px;
  }

  @media (width >= variables.$screen-desktop) {
    width: 896px;
    margin: 0;
    padding: 0;
  }
}

.catalog-additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (width >= variables.$screen-tablet) {
    padding: 28px 38px;
  }

  @media (width >= variables.$screen-desktop) {
    padding: 17px 1px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }
}

.catalog-additional__title {
  display: inline-block;
  position: relative;
  width: 100%;
  white-space: pre-line;
  padding-top: 25px;
  padding-bottom: 36px;

  @media (width >= variables.$screen-tablet) {
    padding-left: 40px;
  }

  @media (width >= variables.$screen-desktop) {
    padding-left: 0;
    margin-bottom: 44px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @media (width >= variables.$screen-tablet) {
      width: 100vw;
    }
  }
}

.catalog-additional-title__description {
  font-family: variables.$font-oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  padding-right: 10px;

  @media (width >= variables.$screen-tablet) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    position: relative;
    left: -40px;
  }
}
