@use "../global/variables.scss";

.catalog-additional-item__container {
  display: block;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 610px;
    padding: 0;
  }
}

.catalog-additional-item__description-container {
  padding-top: 11px;
  padding-bottom: 15px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0;
    display: flex;
    gap: 54px;
    padding-top: 2px;
  }
}

.catalog-additional-item__title {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: variables.$screen-tablet) {
    font-size: 20px;
  }
}

.catalog-additional-item__button {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: variables.$screen-desktop) {
    width: 244px;
  }
}
