@use "../global/variables.scss";

.catalog-container {
  margin: 0 auto;

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    padding: 0 110px;
    width: 100vw;
    gap: 80px;
  }
}
