@use "../global/variables.scss";

.catalog {
  min-width: 320px;
  // width: 100vw;
  // position: relative;
}

.catalog__wrapper {
  margin: 0 auto;
  // width: 100vw;
  max-width: 1440px;
  padding: 0 20px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 30px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0 110px;
    // position: relative;
  }
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 41px;
  padding-top: 27px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 84px;
  }
}

.catalog__list {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 70px;
  }

  @media (min-width: variables.$screen-desktop) {
    gap: 63px 80px;
  }
}

.catalog__item {
  padding-top: 19px;
  padding-bottom: 25px;

  @media (min-width: variables.$screen-tablet) {
    width: calc((100% - 60px) / 2);
    min-height: 511px;
    position: relative;

    &:not(:last-of-type) {
      &::before {
        content: "";
        background-color: #f2f2f2;
        width: 100%;
        display: block;
        position: absolute;
        z-index: -1;
        top: 81px;
        bottom: 0;
        left: 0;
      }
    }
    padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: variables.$screen-desktop) {
    width: calc((100% - 220px) / 4);
    max-width: 245px;

    &:last-of-type {
      display: flex;
      align-items: flex-end;
    }
  }
}

.catalog__additional {
  @media (min-width: variables.$screen-tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin-bottom: 87px;
  }
}
