@use "../global/variables.scss";

.catalog-additional {
  min-width: 320px;
}

.catalog-additional__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
  min-width: 320px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 30px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0 110px;
    padding-bottom: 88px;
  }
}

.catalog-additional__container {
  @media (min-width: variables.$screen-tablet) {
    padding-top: 43px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    gap: 80px;
    align-items: flex-start;
  }
}

.catalog-additional__list {
  padding-bottom: 35px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 71px;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 896px;
    margin: 0;
    padding: 0;
  }
}

.catalog-additional__item {
  padding-top: 11px;
  padding-bottom: 18px;
  border-top: 1px solid #ebebeb;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: variables.$screen-tablet) {
    padding: 26px 38px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 15.5px 1px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}

.catalog-additional__title {
  display: inline-block;
  position: relative;
  width: 100%;
  white-space: pre-line;
  padding-top: 25px;
  padding-bottom: 36px;

  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @media (min-width: variables.$screen-tablet) {
      // width: 100vw;
    }
  }
}

.catalog-additional__gift {
  padding-bottom: 35px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 75px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 0;
    align-self: center;
  }
}
