.catalog {
  min-width: 320px;
  position: relative;
}

.catalog__wrapper {
  margin: 0 auto;
  width: 320px;
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 41px;
  padding-top: 27px;
}
