@use "../global/variables.scss";

.comment__input {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 14px;
  font-family: variables.$font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  resize: none;
  width: 100%;
  text-transform: uppercase;
}

.comment__input::placeholder {
  color: #444444;
}

.comment__label {
  padding-top: 38px;
  padding-bottom: 33px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 40px;
    padding-top: 85px;
    padding-bottom: 0;
  }
}
