@use "../global/variables.scss";

.comment__input {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 14px;
  font-family: variables.$font-oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  resize: none;
  width: 100%;
  text-transform: uppercase;
  min-height: 150px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px;
    padding-left: 19px;
    height: 175px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-top: 9px;
  }
}

.comment__input::placeholder {
  color: #444444;
}

.comment__label {
  padding-top: 36px;
  padding-bottom: 25px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 40px;
    padding-top: 85px;
    padding-bottom: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0;
    padding-top: 76px;
  }
}
