@use "../global/variables.scss";

.contacts-owner {
  padding-top: 20px;
  padding-bottom: 24px;
  position: relative;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 0;
  }
}

.contacts-owner__label {
  position: relative;

  &:first-of-type {
    @media (min-width: variables.$screen-tablet) {
      padding-top: 51px;
    }

    @media (min-width: variables.$screen-desktop) {
      padding-top: 0;
      width: calc(100% / 2);
    }
  }

  &--email {
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 13.5px;
      mask-image: url("../img/sprite.svg#icon_email");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #222222;
      width: 19px;
      height: 14px;
    }
  }

  &--phone {
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 14px;
      mask-image: url("../img/sprite.svg#icon_phone");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #222222;
      width: 16px;
      height: 16px;
    }
  }

  &--email:focus-within,
  &--phone:focus-within {
    &::before {
      background-color: #68b738;
    }
  }
}

.contacts-owner__label:has(input:invalid) {
  &::before {
    background-color: #ff8282;
  }
}

.contacts-owner__label:not(:last-of-type) {
  padding-bottom: 14px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 18px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 0;
  }
}

.contacts-owner__container {
  padding-top: 12px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 40px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 81px;
    align-items: center;
    padding-top: 76px;
  }
}
