@use "../global/variables.scss";

.container-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;


  @media (min-width: variables.$screen-tablet) {
    width: 200px;
    height: 210px;
    align-items: flex-end;
    padding-bottom: 22px;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 169px;
  }
}

.container-card__image {
  @media (min-width: variables.$screen-tablet) {
    width: 100%;
    height: auto;
  }
}
