@use "../global/variables.scss";

.contacts {
  min-width: 320px;
  position: relative;

  &--grey {
    background-color: #f2f2f2;
  }
}

.contacts__wrapper {
  @media (min-width: variables.$screen-desktop) {
    padding: 0 110px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.contacts__business-card {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: variables.$screen-tablet) {
    padding: 61px 70px;
  }

  @media (min-width: variables.$screen-desktop) {
    position: absolute;
    width: 565px;
    background-color: #ffffff;
    padding: 60px 80px;
    top: 94px;
  }
}

.business-card__title {
  font-family: variables.$font-oswald;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: variables.$screen-tablet) {
    width: 163px;
  }
}

.business-card__description {
  font-family: variables.$font-lato;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: variables.$screen-tablet) {
    width: 157px;
  }
}

.contacts__location {
  height: 362px;
  width: 100%;
  object-fit: cover;
  display: block;

  @media (min-width: variables.$screen-tablet) {
    height: 400px;
    object-fit: cover;
  }
}

.contacts__location-nojs {
  display: none;
}
