@use "../global/variables.scss";

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0;
    gap: 23px;
  }

  &::after {
    content: "";
    display: block;
    mask-image: url("../img/sprite.svg#academy_footer_logo");
    background-color: #666666;
    width: 27px;
    height: 34px;
  }
}

.copyright:hover {
  &::after {
    background-color: #68b738;
  }
}

.copyright:active {
  opacity: 0.3;
}

.copyright__text {
  font-family: variables.$font-lato;
  font-size: 16px;
  line-height: 20px;
}
