@use "../global/variables.scss";

.description-container {
  display: flex;
  justify-content: space-between;

  &--water {
    @media (min-width: variables.$screen-tablet) {
      gap: 56px;
      padding-right: 4px;
    }

    @media (min-width: variables.$screen-desktop) {
      padding-right: 0;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    width: 285px;
  }
}

.description-container__volume,
.description-container__price {
  font-family: variables.$font-lato;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: variables.$screen-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: variables.$screen-desktop) {
    min-width: 42px;
  }
}
