@use "../global/variables.scss";

.example {
  background-color: #eaeaea;
  min-width: 320px;
}

.example__result {
  padding-top: 20px;
}

.example__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 49px;
  padding-bottom: 40px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 40px;
}

.example__description {
  font-family: variables.$font-lato;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
