@use "../global/variables.scss";

.example-slider__button {
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  z-index: 0;

  &::before {
    content: "";
    width: 4px;
    background-color: #666666;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 256px;
    z-index: -1;
  }
}

.example-slider__vector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-slider__image {
  @media (width >= variables.$screen-desktop) {
    width: 280px;
  }
}
