@use "../global/variables.scss";

.example {
  background-color: #eaeaea;
  min-width: 320px;

  @media (min-width: variables.$screen-tablet) {
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 618px, #eaeaea 618px);
  }

  @media (min-width: variables.$screen-desktop) {
    background-image: linear-gradient(#ffffff 191px, #eaeaea 191px);
  }
}

.example__result {
  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 50px;
  }
}

.example__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 25px;
  min-width: 320px;
  max-width: 1440px;
  width: 100vw;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: variables.$screen-tablet) {
    padding: 42px 30px 101px 30px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-left: 110px;
    padding-right: 110px;
    position: relative;
    padding-top: 56px;
    padding-bottom: 76px;
  }
}

.example__container {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 103px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: block;
    margin-bottom: 0;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 40px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 146px;
  }
}

.example__description {
  font-family: variables.$font-lato;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  padding-bottom: 20px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 436px;
    padding-bottom: 68px;
  }
}

.example__result-price {
  padding-top: 34px;
  padding-bottom: 20px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    flex-wrap: nowrap;
    position: static;
    justify-content: space-between;
  }
}

.example__slider {
  position: relative;
  display: flex;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: variables.$screen-tablet) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: variables.$screen-desktop) {
    position: absolute;
    right: 109px;
    top: 56px;
  }
}
