@use "../global/variables.scss";

.example-slider__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 100%;
  background-color: #666666;
  z-index: 3;
  border-radius: 2px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #666666;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../img/sprite.svg#slider_button_vector");
    background-color: #666666;
    width: 24px;
    height: 18px;
  }
}

.example-slider__button:hover {
  background-color: #68b738;

  &::before {
    border-color: #68b738;
  }

  &::after {
    background-color: #68b738;
  }
}

.example-slider__button:active {
  background-color: rgba(94, 170, 47, 0.6);

  &::before {
    border-color: rgba(94, 170, 47, 0.6);
  }

  &::after {
    background-color: rgba(94, 170, 47, 0.6);
  }
}

.example-slider__vector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-slider__image {
  object-fit: cover;

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }
}
