@use "../global/variables.scss";

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset__legend {
  &--catowner {
    padding-top: 26px;
    & .legend__description {
      padding-right: 25px;
      @media (min-width: variables.$screen-tablet) {
        padding-right: 39px;
      }
    }
  }

  @media (min-width: variables.$screen-tablet) {
    padding-top: 0;
  }
}
