@use "../global/variables.scss";

.form {
  padding-top: 39px;
  padding-bottom: 32px;
}

.form__container {
  @media (width >= variables.$screen-desktop) {
    display: flex;
    gap: 80px;
  }
}

.form__button {
  padding: 7px 7px;
  min-width: 280px;
  text-align: center;

  @media (width >= variables.$screen-tablet) {
    font-size: 20px;
    min-width: 282px;
    padding: 14px;
  }

  @media (width >= variables.$screen-desktop) {
    font-size: 20px;
    min-width: 570px;
  }
}

.form__legend {
  font-family: variables.$font-lato;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  padding-top: 21px;

  @media (width >= variables.$screen-tablet) {
    font-size: 16px;
    padding-top: 0;
  }
}

.form__basic-characteristics {
  padding-bottom: 24px;

  @media (width >= variables.$screen-tablet) {
    padding-bottom: 72px;
  }

  @media (width >= variables.$screen-desktop) {
    padding-bottom: 0;
    width: calc(100% / 2);
  }
}

.form__program-type {
  padding: 20px 0;

  @media (width >= variables.$screen-tablet) {
    padding: 23px 27px 27px 27px;
  }

  @media (width >= variables.$screen-desktop) {
    width: calc(100% / 2);
    padding: 25px 28px;
    display: flex;
    align-items: center;
  }
}

.form__container-bottom {
  @media (width >= variables.$screen-tablet) {
    display: flex;
    align-items: center;
    gap: 64px;
  }
}
