@use "../global/variables.scss";

.gift {
  min-width: 320px;
  width: 100vw;

  @media (width >= variables.$screen-desktop) {
    min-width: none;
    width: 245px;
    padding-top: 98px;
  }
}

.gift__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  min-height: 290px;
  padding: 0 20px;

  @media (width >= variables.$screen-tablet) {
    min-height: 200px;
    padding: 0 30px;
  }

  @media (width >= variables.$screen-desktop) {
    width: 17vw;
    max-width: 320px;
    padding: 0;
  }
}

.gift__container {
  min-width: inherit;
  min-height: inherit;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/catalog_gift.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 290px, cover;

  @media (width >= variables.$screen-tablet) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center, -374px;
    height: 200px;
  }

  @media (width >= variables.$screen-desktop) {
    height: 288px;
    background-position: center;
  }
}

.gift__descrition {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: variables.$font-lato;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 161px;
  margin: 0 auto;
  text-align: center;

  @media (width >= variables.$screen-tablet) {
    flex-direction: row;
    width: 505px;
    text-align: left;
    gap: 264px;
    align-items: center;
  }

  @media (width >= variables.$screen-desktop) {
    flex-direction: column;
    width: 11.2vw;
    text-align: center;
    gap: 48px;
  }

  &::before {
    content: "";
    background-image: url("../img/icon_gift.svg");
    display: block;
    width: 78px;
    height: 80px;
    margin: 0 auto;
    flex-shrink: 0;
  }
}
