@use "../global/variables.scss";

.gift__wrapper {
  position: relative;
  margin: 0 auto;
  min-height: 290px;

  @media (min-width: variables.$screen-tablet) {
    min-height: 200px;
    width: 92vw;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 17.5vw;
    max-width: 245px;
    padding: 0;
  }
}

.gift__container {
  min-width: inherit;
  min-height: inherit;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog_gift.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 290px, cover;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/catalog_gift@2x.webp");
  }

  @media (min-width: variables.$screen-tablet) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center, -374px;
    height: 200px;
  }

  @media (min-width: variables.$screen-desktop) {
    height: 288px;
    background-position: center;
  }
}

.gift__description {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: variables.$font-lato;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 161px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: variables.$screen-tablet) {
    flex-direction: row;
    width: 505px;
    text-align: left;
    gap: 243px;
    align-items: center;
    padding-bottom: 7px;
  }

  @media (min-width: variables.$screen-desktop) {
    flex-direction: column;
    width: 161px;
    text-align: center;
    gap: 48px;
    padding: 0;
  }

  &::before {
    content: "";
    background-image: url("../img/sprite.svg#icon_gift");
    display: block;
    width: 78px;
    height: 80px;
    margin: 0 auto;
    flex-shrink: 0;

    @media (min-width: variables.$screen-tablet) {
      position: relative;
      right: 22px;
      bottom: 3px;
    }

    @media (min-width: variables.$screen-desktop) {
      position: static;
    }
  }
}
