@use "../global/variables.scss";

.gift {
  min-width: 320px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog_gift.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: inherit;
  background-size: auto 290px;
}

.gift__wrapper {
  position: relative;
  margin: 0 auto;
  width: 320px;
  min-height: 290px;
}

.gift__descrition {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: variables.$font-lato;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 161px;
  margin: 0 auto;
  text-align: center;

  &::before {
    content: "";
    background-image: url("../img/icon_gift.svg");
    display: block;
    width: 78px;
    height: 80px;
    margin: 0 auto;
  }
}
