@use "../global/variables.scss";

.hero {
  min-width: 320px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/index_background_green_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: inherit;
  background-size: auto 302px;

  @media (width >= variables.$screen-tablet) {
    background-image: none;
  }
}

.hero__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (width >= variables.$screen-tablet) {
    width: 768px;
    padding: 0 30px;
    text-align: left;
  }

  @media (width >= variables.$screen-desktop) {
    width: 1440px;
    height: 694px;
    padding: 0 110px;
    text-align: left;
    position: relative;
  }
}

.hero__button {
  min-width: 280px;
  display: flex;
  justify-content: center;
  white-space: nowrap;

  @media (width >= variables.$screen-tablet) {
    display: block;
    min-width: 244px;
  }

  @media (width >= variables.$screen-desktop) {
    display: block;
    margin-top: 52px;
  }
}

.hero__title {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  padding-top: 27px;
  position: relative;
  z-index: 1;

  @media (width >= variables.$screen-tablet) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    width: 420px;
    padding-top: 65px;
  }

  @media (width >= variables.$screen-desktop) {
    padding-top: 110px;
  }
}

.hero__description {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 25px;
  position: relative;
  z-index: 1;

  @media (width >= variables.$screen-tablet) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    width: 290px;
    padding-top: 40px;
  }
}

.hero__image {
  padding-top: 29px;
  position: relative;
  z-index: 1;

  @media (width >= variables.$screen-desktop) {
    right: 370px;
    top: 10px;
    width: 552px;
    height: 78%;
    position: absolute;
    padding: 0;
  }
}
