@use "../global/variables.scss";

.hero {
  min-width: 320px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/index_background_green_mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: inherit;
  background-size: auto 302px;
}

.hero__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.hero__button {
  min-width: 280px;
  padding: 9px 44px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.hero__title {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  padding-top: 27px;
  position: relative;
  z-index: 1;
}

.hero__description {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 25px;
  position: relative;
  z-index: 1;
}

.hero__image {
  padding-top: 29px;
  position: relative;
  z-index: 1;
}
