@use "../global/variables.scss";

.input {
  margin: 0;
  font-family: variables.$font-oswald;
  padding: 13px 15px 13px 15px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  flex-grow: 1;
  max-height: 45.6px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 20px;
    padding: 12px;
    padding-left: 19px;
    max-height: none;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    outline: 1px solid #444444;
  }

  &:invalid {
    border-color: #ff8282;
    outline: 1px solid #ff8282;
  }
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
