@use "../global/variables.scss";

.legend {
  font-family: variables.$font-oswald;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  position: relative;
  width: 100%;
  display: inline-block;

  @media (min-width: variables.$screen-tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.legend__description {
  display: inline-block;
  background-color: #ffffff;
  white-space: pre-line;
  position: relative;
  padding: 0 20px;
  left: -20px;

  @media (min-width: variables.$screen-tablet) {
    white-space: normal;
    padding: 0 40px;
    left: -40px;
  }
}
