@use "../global/variables.scss";

.logo-image__tablet {
  display: none;

  @media (width >= variables.$screen-tablet) {
    display: block;
  }
}

.logo-image__mobile {
  @media (width >= variables.$screen-tablet) {
    display: none;
  }
}
