@use "../global/variables.scss";

.main-nav {
  font-family: variables.$font-oswald;
  font-size: 20px;
  line-height: 20px;

  @media (width >= variables.$screen-tablet) {
    display: flex;
    justify-content: space-between;
    gap: 94px;
    align-items: center;
    width: 768px;
    padding: 0 30px;
  }

  @media (width >= variables.$screen-desktop) {
    display: flex;
    justify-content: space-between;
    gap: 543px;
    align-items: center;
    min-width: 1440px;
    padding: 0 110px;
  }
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;

  @media (width >= variables.$screen-tablet) {
    border: none;
  }
}

.main-nav__list {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  @media (width >= variables.$screen-tablet) {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
  }

  @media (width >= variables.$screen-desktop) {
    display: flex;
    gap: 31.5px;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: auto;
    color: #ffffff;
  }

  &--close {
    // display:none;
  }
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (width >= variables.$screen-tablet) {
    border: none;
  }
}

.main-nav__link {
  padding: 22px;
  display: block;
  position: relative;

  @media (width >= variables.$screen-tablet) {
    padding: 0;

    &--active::after {
      content: "";
      display: block;
      background-color: #68b738;
      height: 2px;
      width: -webkit-fill-available;
      position: absolute;
      bottom: -10px;
    }
  }

  @media (width >= variables.$screen-desktop) {
    padding: 0;

    &--active::after {
      background-color: #ffffff;
    }
  }
}

.main-nav__toggle {
  background-color: #ffffff;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;

  @media (width >= variables.$screen-tablet) {
    display: none;
  }

  &--closed {
    background-image: url("../img/navigation_menu_close.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--opened {
    background-image: url("../img/navigation_menu_open.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.main-nav__logo-image--tablet {
  display: none;
}

.main-nav__logo-image--mobile {
  @media (width >= variables.$screen-tablet) {
    display: none;
  }
}

.main-nav__logo-image--tablet {
  @media (width >= variables.$screen-tablet) {
    display: block;
  }
}
