@use "../global/variables.scss";

.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;

  @media (min-width: variables.$screen-tablet) {
    display: flex;
    align-items: center;
    padding: 43px 30px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    align-items: center;
    padding: 53px 110px;
  }
}

.main-footer__social {
  padding-top: 17px;
  padding-bottom: 15px;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;

  &:hover .main-footer__logo-name path,
  &:focus .main-footer__logo-name path {
    fill: #3e3e3e;
  }

  &:active .main-footer__logo-name path {
    fill: #6b6b6b;
  }

  @media (min-width: variables.$screen-tablet) {
    border: none;
    padding: 0;
  }
}
