@use "../global/variables.scss";

.main-nav {
  font-family: variables.$font-oswald;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: variables.$screen-tablet) {
    display: flex;
    justify-content: space-between;
    gap: 84px;
    align-items: center;
    padding: 0 30px;
    padding-top: 12px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
    padding-top: 42px;
  }
}

.main-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 14px 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$screen-tablet) {
    border: none;
    padding: 13px 0 15px 0;
  }
}

.main-nav__list {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  @media (max-width: 767px) {
    &--noscript {
      position: static; //В случае отключения скриптов перенести свойство в низ селектора
    }

    position: absolute;
    background-color: #ffffff;
    width: 100%;
    z-index: 2;

    &--close {
      display: none; //показывает и скрывает меню
    }
  }

  @media (min-width: variables.$screen-tablet) {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    margin-left: 8px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    gap: 34.5px;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 0;

    &--index {
      color: #ffffff;
      max-width: 480px;
    }

    &--index .main-nav__link {
      &--active::after {
        background-color: #ffffff;
      }
    }
  }
}

.main-nav__item {
  text-align: center;

  &:not(:first-child) {
    border-top: 1px solid #e6e6e6;
  }

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: variables.$screen-tablet) {
    &:not(:first-child) {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.main-nav__link {
  padding: 22px;
  display: block;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$screen-tablet) {
    padding: 0;

    &--active::after {
      content: "";
      display: block;
      background-color: #68b738;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -10px;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0;
  }
}

.main-nav__toggle {
  background-color: #ffffff;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;

  @media (min-width: variables.$screen-tablet) {
    display: none;
  }

  &--closed {
    background-image: url("../img/sprite.svg#navigation_menu_close");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--opened {
    background-image: url("../img/sprite.svg#navigation_menu_open");
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--noscript { //В случае отключения скрипта задействовать эти свойства
    background-image: url("../img/sprite.svg#navigation_menu_close");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
