.program {
  min-width: 320px;
  padding-top: 27px;
}

.program__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}

.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-bottom: 37px;
}

.program__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  width: 226px;
}
