@use "../global/variables.scss";

.result {
  display: flex;
  gap: 32px;
  justify-content: space-around;
  margin: 0;

  @media (min-width: variables.$screen-tablet) {
    justify-content: flex-start;
    gap: 43px;
  }
}

.result__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;

  @media (min-width: variables.$screen-tablet) {
    width: 162px;
  }
}

.result__value {
  font-size: 24px;
  line-height: 24px;
  padding: 14.5px 0;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: variables.$screen-tablet) {
    font-size: 30px;
    line-height: 37px;
    padding: 16.5px 0;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 18px;
  }
}

.result__description {
  font-family: variables.$font-lato;
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  width: 77px;
  position: absolute;
  z-index: 1;
  background-color: #eaeaea;
  text-align: center;
  bottom: -15px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    width: max-content;
    bottom: -6px;
    padding: 0 5px;
    background-color: #ffffff;
  }

  @media (min-width: variables.$screen-desktop) {
    background-color: #eaeaea;
  }
}
