@use "../global/variables.scss";

.services {
  min-width: 320px;
}

.services__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
  width: 100vw;
  min-width: 320px;
  max-width: 1440px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 30px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0 110px;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 23px;

  @media (min-width: variables.$screen-tablet) {
    gap: 31px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    padding-bottom: 68px;
  }
}

.services__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  word-break: break-all;

  @media (min-width: variables.$screen-tablet) {
    font-size: 36px;
    line-height: 36px;
    justify-content: space-between;
  }

  @media (min-width: variables.$screen-desktop) {
    font-size: 36px;
    line-height: 36px;
    gap: 62px;
    justify-content: flex-start;
  }

  // Набор массы (зеленый круг и декоративный кот)
  &--fat {
    gap: 4px;

    @media (min-width: variables.$screen-desktop) {
      //Выравнивает рассотяние от кота до заголовка по ПП
      gap: 47px;
    }

    &::before {
      content: "";
      background-image: url("../img/sprite.svg#cat_weight");
      background-repeat: no-repeat;
      width: 67px;
      height: 50px;
      display: block;
      background-size: contain;
      position: relative;
      left: -8px;
      flex-shrink: 0;

      @media (min-width: variables.$screen-tablet) {
        position: absolute;
        width: 268px;
        height: 200px;
        left: 61%;
        top: 13px;
      }

      @media (min-width: variables.$screen-desktop) {
        position: static;
        width: 134px;
        height: 100px;
        flex-shrink: 0;
      }
    }
  }

  // Похудение (зеленый круг и декоративный кот)
  &--slim {
    &::before {
      content: "";
      background-image: url("../img/sprite.svg#cat_slim");
      background-repeat: no-repeat;
      width: 50px;
      height: 53px;
      display: block;
      background-size: contain;
      position: relative;
      flex-shrink: 0;

      @media (min-width: variables.$screen-tablet) {
        position: absolute;
        width: 200px;
        height: 211px;
        left: 66%;
        top: 2px;
      }

      @media (min-width: variables.$screen-desktop) {
        position: static;
        width: 100px;
        height: 106px;
        flex-shrink: 0;
      }
    }
  }
}

.services__item {
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 23px;
  position: relative;

  &:nth-child(2) {
    @media (min-width: variables.$screen-tablet) {
      padding: 79px 63px 59px 52px;
    }

    @media (min-width: variables.$screen-desktop) {
      padding-top: 43px;
      padding-left: 33px;
    }
  }

  @media (min-width: variables.$screen-tablet) {
    padding: 76px 63px 59px 52px;
  }

  @media (min-width: variables.$screen-desktop) {
    max-width: 570px;
    padding-top: 38px;
    padding-bottom: 64px;

    &:not(:last-of-type) {
      margin: 0;
    }
  }
}

.services__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 18px;
  display: flex;
  align-items: center;
  gap: 15px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 20px;
    line-height: 20px;
    gap: 25px;
    width: 44.3vw;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 100%;
    padding-top: 10px;

    &--fat {
      padding-left: 20px;
    }
  }

  &::after {
    content: "";
    background-image: url("../img/sprite.svg#icon_arrow_small");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 12px;
  }

  &:hover {
    &::after {
      background-image: url("../img/sprite.svg#icon_arrow_large");
      width: 32px;
      height: 12px;
    }
  }
}

.services__description {
  font-family: variables.$font-lato;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  padding: 21px 0;
  border-bottom: 1px solid #d9d9d9;

  &--fat {
    padding-top: 23px;
    padding-bottom: 22px;

    @media (min-width: variables.$screen-desktop) {
      padding-left: 19px;
    }
  }

  @media (min-width: variables.$screen-tablet) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    width: 44.3vw;
    padding-top: 24px;
    padding-bottom: 40px;
  }

  @media (min-width: variables.$screen-desktop) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    width: auto;
    padding-top: 39px;
    padding-bottom: 23px;
  }
}
