@use "../global/variables.scss";

.social {
  display: flex;
  justify-content: center;
  gap: 21px;
  border-bottom: 1px solid #d9d9d9;
  flex-wrap: wrap;

  @media (min-width: variables.$screen-tablet) {
    border: none;
    padding-left: 30px;
  }
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(2) {
    margin-left: -6px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  &:hover path {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
