.services__title--fat {

  &::after {
    content: "";
    background-image: url("../img/cat_weight.svg");
    background-repeat: no-repeat;
    min-width: 67px;
    min-height: 28px;
    display: block;
    position: absolute;
    z-index: 1;
  }

  &::before {
    content: "";
    min-width: 50px;
    min-height: 50px;
    display: block;
    background-color: #68B738;
    border-radius: 50%;
    position: relative;
  }
}
