@use "variables.scss";

.button {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-wrap: nowrap;
  cursor: pointer;
  border: none;
  padding: 0;

  &--primary {
    background-color: #68B738;

    &:hover {
      background-color:#5EAA2F;
    }

    &:focus {
      outline: 2px solid #FDC305;
    }

    &:active {
      outline: none;
    }

    &:active .button__description {
      opacity: 0.3;
    }
  }
}
