@use "variables.scss";

.button {
  font-family: variables.$font-oswald;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-wrap: nowrap;
  cursor: pointer;

  &--primary {
    border: none;
    background-color: #68B738;
  }
}
