// Глобальные
@use "global/global.scss";
@use "global/fonts.scss";
@use "global/link.scss";
@use "global/visually-hidden.scss";
@use "global/description.scss";
@use "global/fieldset.scss";
@use "global/title.scss";
@use "global/list.scss";
@use "global/input.scss";
@use "global/variables.scss";
// Блоки
@use "blocks/label.scss";
@use "blocks/button.scss";
@use "blocks/main-header";
@use "blocks/additional.scss";
@use "blocks/advantages.scss";
@use "blocks/basic-characteristics.scss";
@use "blocks/catalog-table.scss";
@use "blocks/catalog.scss";
@use "blocks/comment.scss";
@use "blocks/contacts-owner.scss";
@use "blocks/contacts.scss";
@use "blocks/copyright.scss";
@use "blocks/example.scss";
@use "blocks/form.scss";
@use "blocks/gift.scss";
@use "blocks/hero.scss";
@use "blocks/main-container.scss";
@use "blocks/main-footer.scss";
@use "blocks/main-nav.scss";
@use "blocks/more.scss";
@use "blocks/page.scss";
@use "blocks/program-type.scss";
@use "blocks/program.scss";
@use "blocks/services.scss";
@use "blocks/social.scss";
@use "blocks/result.scss";
@use "blocks/example-result-price.scss";
@use "blocks/example-slider.scss";
@use "blocks/legend.scss";
@use "blocks/catalog-item.scss";
@use "blocks/catalog-additional.scss";
@use "blocks/catalog-additional-item.scss";
@use "blocks/description-container.scss";
@use "blocks/container-card.scss";
@use "blocks/business-card.scss";
@use "blocks/services-title.scss";
@use "blocks/catalog-container.scss";
@use "blocks/logo-image.scss";
@use "blocks/program-type-label.scss";
