.hero__container {
  background-image: url(../../img/index_background_green_mobile.png);
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  background-blend-mode: overlay;
}
